%ul.methods
	-method_count = 0
	-endpoint["methods"].each do |m|
		-method_count=method_count+1
		
		%li.method{:endpointIndex => endpointIndex, :methodIndex => method_count}
			%legend.clickable{"data-toggle" => "collapse", "data-parent" => "#ep#{endpointIndex}", "data-target" => "#endpoint#{endpointIndex}method#{method_count}"}
				%a{:name => "endpoint#{endpointIndex}method#{method_count}"} 
					Method: 
					%span.methodNameSpan #{m.MethodName}
				
				.methodContainer.collapse{:id => "endpoint#{endpointIndex}method#{method_count}"}
					.control-group
						%label.control-label{:for => "endpoints[#{endpointIndex}].methods[#{method_count}].MethodName"} 
							Method Name
						.controls
							%input.methodName{:name => "endpoints[#{endpointIndex}].methods[#{method_count}].MethodName", :id => "endpoints.endpoint[#{endpointIndex}].methods[#{method_count}].MethodName", :value => "#{m.MethodName}"}
			
					.control-group
						%label.control-label{:for => "endpoints[#{endpointIndex}].methods[#{method_count}].Synopsis"} 
							Synopsis
						.controls
							%textarea{:name => "endpoints[#{endpointIndex}].methods[#{method_count}].Synopsis", :id => "endpoints[#{endpointIndex}].methods[#{method_count}].Synopsis"}#{m.Synopsis}
		
					.control-group
						%label.control-label{:for => "endpoints[#{endpointIndex}].methods[#{method_count}].HTTPMethod"} 
							HTTP Method (GET, POST, PUT, etc)
						.controls
							%input{:name => "endpoints[#{endpointIndex}].methods[#{method_count}].HTTPMethod", :id => "endpoints[#{endpointIndex}].methods[#{method_count}].HTTPMethod", :value => "#{m.HTTPMethod}"}
			
					.control-group
						%label.control-label{:for => "endpoints[#{endpointIndex}].methods[#{method_count}].URI"} 
							URI
						.controls
							%input{:name => "endpoints[#{endpointIndex}].methods[#{method_count}].URI", :id => "endpoints[#{endpointIndex}].methods[#{method_count}].URI", :value => "#{m.URI}"}							
		
					.control-group
						%label.control-label{:for => "endpoints[#{endpointIndex}].methods[#{method_count}].RequiresOAuth"} 
							Requires OAuth?
						.controls
							%label.radio
								%input{:type => "radio", :name => "endpoints[#{endpointIndex}].methods[#{method_count}].RequiresOAuth", |
									:id => "endpoints[#{endpointIndex}].methods[#{method_count}].RequiresOAuth.Yes", |
									:value => "Y", |
									:checked => m.RequiresOAuth == "Y"}
									%span Yes
							%label.radio
								%input{:type => "radio", :name => "endpoints[#{endpointIndex}].methods[#{method_count}].RequiresOAuth", |
									:id => "endpoints[#{endpointIndex}].methods[#{method_count}].RequiresOAuth.No", |
									:value => "N", |
									:checked => m.RequiresOAuth == "N"} 
									%span No
					= partial :parameters, :locals => {:m => m, :methodIndex => method_count, :endpointIndex => endpointIndex}
		%input{:type=>"hidden", :value => method_count, :id=>"endpoint#{endpointIndex}MethodCounter"}
		