.row-fluid
	%ul.tabs.nav.nav-tabs
		%li.active
			%a{:"data-toggle" => "tab", :href => "#editor"} Editor
		%li
			%a.viewOutput{:"data-toggle" => "tab", :href => "#output-container"} Output	

	.tab-content
		#output-container.tab-pane
			%form{:method => "post", :action => "/file"}
				%input#json{:type => "hidden", :name => "json", :value => " "}
				%input.btn-success{:type => "submit", :value => "Save File"}
			#output

		#editor.tab-pane.active
			= partial :menu, :locals => {:result => @result}
			
			.content.forms.span8

				%form.form-horizontal#config
					-count=0
					- @result["endpoints"].each do |e|
						-count=count+1
						.endpoint.hide{:id => "ep#{count}"}
							
							.control-group.span5
								%label.control-label{:for => "endpoints[#{count}].name"} 
									Endpoint Name:
								.controls
									.input
										%input.endpointName{:name => "endpoints[#{count}].name", :id => "endpoints[#{count}].name", :value => "#{e.name}"}
							
							%span.endpoint-controls 
								%input.btn.btn-info.addButton.addMethod(type="button" value='Add Method')
								%input.btn.btn-danger.removeEndpoint(type="button" value='Delete Endpoint')
							= partial :methods, :locals => {:endpoint => e, :endpointIndex => count}
					%input{:type=>"hidden", :value=>count, :id=>"endpointCounter"}

= partial :templates
