.container-fluid
	.sidebar
		.well
			%h3 Endpoints
			%ul
				-count=0
				- @result.endpoints.each do |e|
					-count=count+1
					%li.endpointActuator.clickable{:id => "endpointActuator#{count}"}
						#{e.name}
						%ul
							- e["methods"].each do |m|
								%li #{m.MethodName}
					
	.content
		%form
			-count=0
			- @result.endpoints.each do |e|
				-count=count+1
				.endpoint.hidden{:id => "ep#{count}"} 
					%h2	Endpoint: #{e.name}
					%fieldset
					
						.clearfix
							%label{:for => "name#{count}"} Endpoint Name
							.input
								%input{:name => "name#{count}", :id => "name#{count}", :value => "#{e.name}"}
						
						= partial :methods, :locals => {:endpoint => e}
					
