%ul.tabs
	%li.active
		%a{:tab => "editor", :href => "#editor"} Editor
	%li
		%a.viewOutput{:tab => "output-container", :href => "#output-container"} Output	

.hidden#output-container
	%form{:method => "post", :action => "/file"}
		%input#json{:type => "hidden", :name => "json", :value => " "}
		%input.btn{:type => "submit", :value => "Save File"}
	#output
	
.container-fluid#editor
	.sidebar.well#tree
		%ul
			-count=0
			- @result["endpoints"].each do |e|
				-count=count+1
				%li
					%a.endpointActuator{:href => "#", :id => "endpointActuator#{count}"} #{e.name}
					%ul
						-method_count = 0
						-e["methods"].each do |m|
						-method_count=method_count+1
							%li 
								%a.methodActuator{:href => "#endpoint#{count}method#{method_count}"} #{m.MethodName}
				
	.content.forms
		#start
			%h3 Click on a Endpoint or Method from the list on the left, or add a new Endpoint to get started.
			
		%form#config
			-count=0
			- @result["endpoints"].each do |e|
				-count=count+1
				.endpoint.hidden{:id => "ep#{count}"} 
					%h2	Endpoint: #{e.name}
					%fieldset			
						.clearfix
							%label{:for => "endpoints[#{count}].name"} Endpoint Name
							.input
								%input{:name => "endpoints[#{count}].name", :id => "endpoints[#{count}].name", :value => "#{e.name}"}
						
						= partial :methods, :locals => {:endpoint => e, :endpointIndex => count}
					
