.row-fluid
	%ul.tabs.nav.nav-tabs
		%li.active
			%a{:"data-toggle" => "tab", :href => "#editor"}
				%i.icon-edit 
				Editor
		%li
			%a.viewOutput{:"data-toggle" => "tab", :href => "#output-container"} 
				%i.icon-file 
				Output	

	.tab-content
		#output-container.tab-pane
			%form#outputForm{:method => "post", :action => "/file"}
				%input#json{:type => "hidden", :name => "json", :value => " "}
				%input#to_address{:type => "hidden", :name => "to_address", :value => " "}
				%a.btn.btn.email-output
					%i.icon-envelope
					Email

				%a.btn.btn.save-file
					%i.icon-download-alt
					Save as File
					
			#output

		#editor.tab-pane.active.row
			= partial :menu, :locals => {:result => @result}
			
			.content.forms.span8

				%form.form-horizontal#config
					-count=0
					- @result["endpoints"].each do |e|
						-count=count+1
						.endpoint.hide{:id => "ep#{count}"}
							
							.control-group.span5.endpointHead
								%label.control-label{:for => "endpoints[#{count}].name"} 
									Endpoint:
								.controls
									.input
										%input.endpointName{:name => "endpoints[#{count}].name", :id => "endpoints[#{count}].name", :value => "#{e.name}"}
							
							.offset5.endpoint-controls 
								%a.btn.btn-info.addButton.addMethod
									%i.icon-plus.icon-white
									Add Method
								
								%a.btn.btn-danger.removeEndpoint
									%i.icon-trash.icon-white 
									Delete Endpoint
							= partial :methods, :locals => {:endpoint => e, :endpointIndex => count}
					%input{:type=>"hidden", :value=>count, :id=>"endpointCounter"}

= partial :templates
